#nav-list{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    padding: 10px;
    
    align-items: center;
    
    
}
#nav-list img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
#nav-list p{
    list-style: none;
    font-size: 20px;
}